<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brand Check for <%= results.brand %></title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            padding: 1%;
        }

        .brand {
            font-style: italic;
            font-weight: bold;
            color: blue;
        }

        body .loader {
            display: none;
        }

        body.loading #main_container {
            display: none;
        }

        body.loading .loader {
            display: block;
        }

        .loader,
            .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(0,0,0, 0.2);
            border-right: 1.1em solid rgba(0,0,0, 0.2);
            border-bottom: 1.1em solid rgba(0,0,0, 0.2);
            border-left: 1.1em solid #000000;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
            }
            @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

    </style>
</head>
<body>

<header class="container">
    <form id="brand_form" action="/check" method="get" spellcheck="false">
        <h1>Brand Check for <input id="brand_input" class="brand" name="brand" value="<%= results.brand %>" placeholder="brand name" /></h1>
    </form>
</header>

<% if( results.brand ) { %>
<main id="main_container" class="container">
    <h2>Asset Availability</h2>
    <table class="table table-striped table-dark table-sm">
        <thead>
            <tr>
              <th scope="col">Asset</th>
              <th scope="col">Available</th>
            </tr>
          </thead>
        <tbody>
            <tr scope="row">
                <td><a href="https://twitter.com/<%= results.brand %>">Twitter</a></td>
                <td><%= results.twitter.available? '✅' : '❌' %></td>
            </tr>
            <tr scope="row">
                <td><a href="https://github.com/<%= results.brand %>">GitHub</a></td>
                <td><%= results.github.available? '✅' : '❌' %></td>
            </tr>
            <tr scope="row">
                <td><a href="https://<%= results.brand %>.com">.com</a></td>
                <td><%= results.dotcom.available? '✅' : '❌' %> (<%= results.dotcom.status %>)</td>
            </tr>
            <tr scope="row">
                <td><a href="https://<%= results.brand %>.com">.io</a></td>
                <td><%= results.dotio.available? '✅' : '❌' %> (<%= results.dotio.status %>)</td>
            </tr>
            <tr scope="row">
                <td><a href="https://<%= results.brand %>.com">.co</a></td>
                <td><%= results.dotco.available? '✅' : '❌' %> (<%= results.dotco.status %>)</td>
            </tr>
        </tbody>   
    </table>

    <h2>Existing Branding</h2>
    <h3>Urban Dictionary</h3>
    <% if (results.urban_dictionary.has_matches) { %>
        <ul>
            <% results.urban_dictionary.matches.forEach( entry => { %>
                <li><%= entry.definition %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No definitions found for <span class="brand"><%= results.brand %></span></p>
    <% } %>
</main>
<div class="container loader"></div>
<% } %>

<footer>
</footer>

<script>
    const brandForm = document.getElementById('brand_form')
    const brandInput = document.getElementById('brand_input')
    const mainContainer = document.getElementById('main_container')

    brandForm.addEventListener('submit', (ev) => {
        document.body.classList.toggle('loading')
    })

    brandInput.addEventListener('focus', (ev) => {
        const el = ev.target
        el.oldValue = el.value
        el.select()
    })

    brandInput.addEventListener('blur', (ev) => {
        const el = ev.target
        if(!el.value || !el.value.trim()) {
            el.value = el.oldValue
        }
    })

    document.addEventListener('DOMContentLoaded', (ev) => {
        brandInput.focus()
    })
</script>

</body>
</html>